# Exclude version control directories
.git
.github

# Exclude Python cache and build files
*.egg-info
*.pyc
*.pyo
__pycache__/

# Exclude environment files
*.env

# Exclude OS-specific files
.DS_Store

# Exclude IDE/editor specific files
.idea/
.vscode/

# Exclude documentation files
README.md

# Exclude Docker-related files
Dockerfile
docker-compose.yml

# Exclude logs and temporary files
*.log
*.tmp